{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "useBuiltIns": "usage"
      }
    ],
    "react",
    "jest"
  ],
  "env": {
    "test": {
      "presets": ["react", "es2015", "stage-0"],
      "plugins": ["transform-es2015-modules-commonjs", "inline-react-svg"]
    }
  }
}
